<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <title>API</title>
  </head>

  <body>

    <!-- VueJS -->
    
    <script src="https://unpkg.com/vue@3"></script>

    <div id="myapp" class="container">

      <h1> Ecco le 10 email richieste</h1>

      <!-- Lista email -->

      <ul id="mailing-list" v-if="mailingList.length === emailNumber">

        <li v-for="mail in mailingList"> {{ mail }}</li>

      </ul>

    </div>


    <!-- Javascript -->

    <script src="js/index.js"></script>
    
  </body>
</html>